.post-frame
{
    border:1px #DDD solid;
    border-radius:7px;
    padding:0 !important;
}
.username-link, .username-link:hover
{
    color: black;
}
.button, .button:hover
{
    color:black; 
    border: 1px darkgray solid; 
    border-radius: 5px;
}
.error
{
    color: #dc3545;
}
pre
{
    font-size: medium;
    font-family: 'Open Sans', sans-serif !important;
    margin: 0 !important;
}
a, .link
{
    text-decoration: none !important;
    font-weight: bold !important;
}
.hr
{
    opacity: .1;
}